/* components/BusPin.css */
.bus-pin {
	display: flex;
	width: 80%;
	align-items: center;
	background-color: #ffffff;
	border-radius: 8px;
	padding: 12px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	border: 1px solid #e0e0e0;
	transition: transform 0.2s;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  .bus-pin:hover {
	transform: translateY(-2px);
  }
  	
  .bus-number {
	background-color: #9F7BE1;
	border-radius: 15%;

	color: white;
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	margin-right: 12px;
	font-size: 16px;
  }
  
  .bus-info {
	display: flex;
	flex-direction: column;
  }
  
  .bus-time {
	font-weight: bold;
	margin-bottom: 4px;
	font-size: 14px;
	color: #333;
  }
  
  .bus-street {
	color: #666;
	font-size: 13px;
  }