/* components/HistoryPage.css */
.history-page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
  }
  
  .history-content {
	flex: 1;
	padding: 20px;
	margin-top: 60px; /* Ajuste conforme a altura da MenuBar */
	display: flex;
	flex-direction: column;
  }
  
  .history-header {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
	margin-bottom: 20px;
  }
  
  .history-header h1 {
	margin-top: 0;
	margin-bottom: 20px;
	color: #333;
  }
  
  .bus-pins-container {
	flex-direction: column;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
  }